In [200]:
import pandas as pd

In [632]:
from preprocessing import preprocess

In [ ]:
dfs = []
dfs.append(preprocess('../data/raw/CA/CA_1981-1985.txt'))
dfs.append(preprocess('../data/raw/CA/CA_1985-1989.txt'))
dfs.append(preprocess('../data/raw/CA/CA_1989-1993.txt'))
dfs.append(preprocess('../data/raw/CA/CA_1993-1997.txt'))
dfs.append(preprocess('../data/raw/CA/CA_1997-2001.txt'))
dfs.append(preprocess('../data/raw/CA/CA_2001-2005.txt'))
dfs.append(preprocess('../data/raw/CA/CA_2005-2009.txt'))
dfs.append(preprocess('../data/raw/CA/CA_2009-2015.txt'))

In [ ]:
df = pd.concat(dfs)

In [ ]:
df = df.dropna(axis=0)

In [244]:
df_subsetted = pd.read_csv('../data/preprocessed/CA/CA_1981-2015_subsetted2.csv', parse_dates=['YEARMODA'])

In [245]:
df_subsetted.head()

   Unnamed: 0     STN   YEARMODA  TEMP  PRCP  GUST  WDSP  MXSPD
0           0  691414 1985-04-24  54.1     0  15.0   5.6    9.9
1           1  691414 1985-04-25  42.9   NaN  25.1  12.6   19.0
2           2  691414 1985-04-26  43.0   NaN  20.0   8.8   15.9
3           3  691414 1985-04-27  42.4   NaN  53.0  16.3   29.9
4           4  691414 1985-04-28  40.5   NaN  40.0  14.0   27.0

In [246]:
df_subsetted.count()

Unnamed: 0    1370304
STN           1370304
YEARMODA      1370304
TEMP          1370304
PRCP          1341677
GUST           386697
WDSP          1342008
MXSPD         1338075
dtype: int64

# LA AIRPORT STATION

In [247]:
la = df_subsetted[df_subsetted['STN'] == 722950]

Only less than 20% of data from la airport station has GUST value. Let's not use GUST

In [248]:
la.count()

Unnamed: 0    12426
STN           12426
YEARMODA      12426
TEMP          12426
PRCP          12419
GUST           2453
WDSP          12426
MXSPD         12424
dtype: int64

### Precipitation Comparison between el nino year vs. normal year

The most significant indicator of El nino in CA is precipitation.

<img src="http://www.trbimg.com/img-55d635df/turbine/la-me-g-0820-el-nino-rainfall-comparison-20150820/750/750x422" />

Source: http://www.latimes.com/local/lanow/la-me-ln-el-nino-temperatures-new-record-20151117-story.html

In [249]:
from plotly import plotly as ply
from plotly import graph_objs as go

In [250]:
tt = la.set_index('YEARMODA')[['PRCP']]['1997-7-1':'1998-6-30']
tt2 = la.set_index('YEARMODA')[['PRCP']]['2014-7-1':'2015-6-30']
rr = tt.resample('M') 
rr2 = tt2.resample('M')

In [251]:
traces = []
traces.append(go.Scatter(
    x=tt.index.map(lambda x:x.strftime('%b %d')),
    y=tt['PRCP'],
    name='1997-1998'))
traces.append(go.Scatter(
    x=tt2.index.map(lambda x:x.strftime('%b %d')),
    y=tt2['PRCP'],
    name='2014-2015'))
traces.append(go.Scatter(
    x=rr.index.map(lambda x:x.strftime('%b %d')),
    y=rr['PRCP'],
    name='1997-1998 monthly'))
traces.append(go.Scatter(
    x=rr2.index.map(lambda x:x.strftime('%b %d')),
    y=rr2['PRCP'],
    name='2014-2015 monthly'))
ply.iplot(traces, filename='WeatherData/test1')

There's a huge difference in precipitation between 1997-1998 and 2014-2015, but only obvious in Feb.

<img src="http://data-week.popsci.com/gifs/Precipitation-Comparison-Two-ElNino-Years.gif" />

## Temperature comparison

In [252]:
tt = la.set_index('YEARMODA')['1997-7-1':'1998-6-30']
tt2 = la.set_index('YEARMODA')['2014-7-1':'2015-6-30']
rr = tt.resample('M') 
rr2 = tt2.resample('M')
traces = []
traces.append(go.Scatter(
    x=tt.index.map(lambda x:x.strftime('%b %d')),
    y=tt['TEMP'],
    name='1997-1998'))
traces.append(go.Scatter(
    x=tt2.index.map(lambda x:x.strftime('%b %d')),
    y=tt2['TEMP'],
    name='2014-2015'))
traces.append(go.Scatter(
    x=rr.index.map(lambda x:x.strftime('%b %d')),
    y=rr['TEMP'],
    name='1997-1998 monthly'))
traces.append(go.Scatter(
    x=rr2.index.map(lambda x:x.strftime('%b %d')),
    y=rr2['TEMP'],
    name='2014-2015 monthly'))

ply.iplot(traces, filename='WeatherData/test2')

Not very significant.

In [183]:
tt = la.set_index('YEARMODA')['1997-7-1':'1998-6-30']
tt2 = la.set_index('YEARMODA')['1996-7-1':'1997-6-30']
rr = tt.resample('M') 
rr2 = tt2.resample('M')
traces = []
traces.append(go.Scatter(
    x=tt.index.map(lambda x:x.strftime('%b %d')),
    y=tt['TEMP'],
    name='1997-1998'))
traces.append(go.Scatter(
    x=tt2.index.map(lambda x:x.strftime('%b %d')),
    y=tt2['TEMP'],
    name='1996-1997'))
traces.append(go.Scatter(
    x=rr.index.map(lambda x:x.strftime('%b %d')),
    y=rr['TEMP'],
    name='1997-1998 monthly'))
traces.append(go.Scatter(
    x=rr2.index.map(lambda x:x.strftime('%b %d')),
    y=rr2['TEMP'],
    name='1996-1997 monthly'))

ply.iplot(traces, filename='WeatherData/test3')

But there's some difference between 1997-1998 and 1996-1997. Both 2014-2015 and 1996-1997 are normal years.

<img src="http://data-week.popsci.com/gifs/Temperature-Comparison-Two-ElNino-Years.gif" />

Even in 1997-1998, temperature in CA was only typical. CA is predicted to be warmer in this winter but not very high probability.

## Does this also hold for 1982-1983?

In [253]:
tt = la.set_index('YEARMODA')['1982-7-1':'1983-6-30']
tt2 = la.set_index('YEARMODA')['2014-7-1':'2015-6-30']
rr = tt.resample('M') 
rr2 = tt2.resample('M')
traces = []
traces.append(go.Scatter(
    x=tt.index.map(lambda x:x.strftime('%b %d')),
    y=tt['PRCP'],
    name='1982-1983'))
traces.append(go.Scatter(
    x=tt2.index.map(lambda x:x.strftime('%b %d')),
    y=tt2['PRCP'],
    name='2014-2015'))
traces.append(go.Scatter(
    x=rr.index.map(lambda x:x.strftime('%b %d')),
    y=rr['PRCP'],
    name='1982-1983 monthly'))
traces.append(go.Scatter(
    x=rr2.index.map(lambda x:x.strftime('%b %d')),
    y=rr2['PRCP'],
    name='2014-2015 monthly'))

ply.iplot(traces, filename='WeatherData/test4')

Even less significant.

In [254]:
tt = la.set_index('YEARMODA')['1982-7-1':'1983-6-30']
tt2 = la.set_index('YEARMODA')['2014-7-1':'2015-6-30']
rr = tt.resample('M') 
rr2 = tt2.resample('M')
traces = []
traces.append(go.Scatter(
    x=tt.index.map(lambda x:x.strftime('%b %d')),
    y=tt['TEMP'],
    name='1982-1983'))
traces.append(go.Scatter(
    x=tt2.index.map(lambda x:x.strftime('%b %d')),
    y=tt2['TEMP'],
    name='2014-2015'))
traces.append(go.Scatter(
    x=rr.index.map(lambda x:x.strftime('%b %d')),
    y=rr['TEMP'],
    name='1982-1983 monthly'))
traces.append(go.Scatter(
    x=rr2.index.map(lambda x:x.strftime('%b %d')),
    y=rr2['TEMP'],
    name='2014-2015 monthly'))

ply.iplot(traces, filename='WeatherData/test5')

In [296]:
tt = la.set_index('YEARMODA')['1982-7-1':'1983-6-30']
tt2 = la.set_index('YEARMODA')['2014-7-1':'2015-6-30']
rr = tt.resample('M') 
rr2 = tt2.resample('M')
traces = []
traces.append(go.Scatter(
    x=tt.index.map(lambda x:x.strftime('%b %d')),
    y=tt['WDSP'],
    name='1982-1983'))
traces.append(go.Scatter(
    x=tt2.index.map(lambda x:x.strftime('%b %d')),
    y=tt2['WDSP'],
    name='2014-2015'))
traces.append(go.Scatter(
    x=rr.index.map(lambda x:x.strftime('%b %d')),
    y=rr['WDSP'],
    name='1982-1983 monthly'))
traces.append(go.Scatter(
    x=rr2.index.map(lambda x:x.strftime('%b %d')),
    y=rr2['WDSP'],
    name='2014-2015 monthly'))

ply.iplot(traces, filename='WeatherData/test_wdsp')

# Correlations

In [301]:
indexed = la.set_index('YEARMODA')[['TEMP', 'PRCP', 'WDSP', 'MXSPD']][:'2014']

In [280]:
shifted = indexed[indexed.index.map(lambda x:True if x.month in [11,12,1,2] else False)].resample('M').dropna().shift(-6, 'M')
years = shifted.groupby(shifted.index.year).apply(lambda x:x.mean())

In [299]:
trace0 = go.Scatter(x=years.index,
                    y=years['PRCP'])
ply.iplot([trace0], filename='WeatherData/testaa')

## El nino index

In [212]:
oci = pd.read_csv('../data/raw/ONI.txt', sep=r'\t')

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/pandas/io/parsers.py:648: ParserWarning:

Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.

In [213]:
oci['index'] = oci['Type'].map({'VSL':-2, 'SL':-1.5, 'ML':-1, 'WL':-0.5, 'N':0, 'WE':0.5, 'ME':1, 'SE':1.5, 'VSE':2})

In [281]:
haha = pd.concat([years, oci.set_index('From')[['index']]], join='inner', axis=1)

In [266]:
haha

           TEMP      PRCP      WDSP      MXSPD  index
1981  57.935198  0.149135  6.214785  12.867443    0.0
1982  57.956720  0.154857  6.829877  13.630960    2.0
1983  58.422312  0.047739  6.306589  13.517670   -0.5
1984  56.161617  0.083768  6.227346  12.374530   -0.5
1985  58.826843  0.111417  6.303456  12.749453    0.0
1986  58.653961  0.032070  6.102775  12.064301    1.0
1987  57.569042  0.063650  6.540107  12.700383    1.0
1988  55.961694  0.063833  6.251375  12.123783   -1.5
1989  58.379608  0.039611  5.921745  11.921313    0.0
1990  58.715123  0.031383  5.190607  10.285958    0.0
1991  59.538016  0.082305  6.339271  12.913952    1.0
1992  57.889253  0.169090  6.764566  12.914391    0.0
1993  58.744902  0.079150  6.396573  12.277506    0.0
1994  57.725866  0.125950  6.116559  11.662104    0.5
1995  58.601352  0.073419  5.948315  11.896617   -0.5
1996  58.462529  0.092580  6.910566  12.611367    0.0
1997  57.997782  0.204649  6.407863  14.249510    2.0
1998  56.908685  0.026687  5.724053  12.213550   -1.0
1999  58.635515  0.048462  5.909317  12.819143   -1.0
2000  56.199722  0.109002  5.955422  12.546945   -0.5
2001  57.289343  0.030158  5.766417  12.642915    0.0
2002  59.716202  0.056728  5.978184  12.838251    1.0
2003  56.900608  0.052180  5.838880  12.870190    0.0
2004  57.828537  0.175355  6.163322  12.481452    0.5
2005  59.500374  0.040619  5.458468  11.943116    0.0
2006  57.802030  0.018892  5.231016  12.650783    0.5
2007  57.215473  0.073879  5.488835  12.984518   -1.0
2008  58.323283  0.072301  4.809708  12.087969    0.0
2009  58.071544  0.081460  5.155415  12.407114    1.0
2010  58.141563  0.098906  5.132078  12.250530   -1.0
2011  57.542684  0.030118  4.631846  11.933547   -0.5
2012  57.636444  0.045770  5.328986  12.861448    0.0
2013  60.339772  0.023607  4.599706  11.438358    0.0
2014  60.616139  0.058680  4.767625  11.483637    0.0
2015  69.500000  0.000000  4.000000  11.100000    2.0

## Precipitation and El nino (Higher index means stronger el nino)

In [273]:
traces = []
traces.append(go.Scatter(x=haha['index'], y=haha['PRCP'], text=haha.index, mode='markers', 
                         marker = dict(color=haha['index'], colorscale='Viridis')))
ply.iplot(traces, filename='WeatherData/precipitation')

Positive Correlation between precipitation and el nino. (at least in LA)

## Temperature and El nino

In [276]:
a = la.set_index('YEARMODA')[['TEMP']][:'2014']
b = a[a.index.map(lambda x:True if x.month in [11,12,1,2] else False)].resample('M').dropna().shift(-6, 'M')
c = b.groupby(b.index.year).apply(lambda x:x.mean())
d = pd.concat([c, oci.set_index('From')[['index']]], join='inner', axis=1)
traces = []
traces.append(go.Scatter(x=d['index'], y=d['TEMP'], text=d.index, mode='markers'))
ply.iplot(traces, filename='WeatherData/test6')

Less significant correlation

In [289]:
traces = []
traces.append(go.Scatter(x=haha['PRCP'], y=haha['TEMP'], text=haha.index, mode='markers', 
                         marker = dict(color=haha['index'])))
ply.iplot(traces, filename='WeatherData/test7')

TEMP is not correlated with el nino

In [290]:
traces = []
traces.append(go.Scatter(x=haha['PRCP'], y=haha['WDSP'], text=haha.index, mode='markers', 
                         marker = dict(color=haha['index'])))
ply.iplot(traces, filename='WeatherData/test8')

In [291]:
traces = []
traces.append(go.Scatter(x=haha['PRCP'], y=haha['MXSPD'], text=haha.index, mode='markers', 
                         marker = dict(color=haha['index'])))
ply.iplot(traces, filename='WeatherData/test8')

In [292]:
traces = []
traces.append(go.Scatter(x=haha['WDSP'], y=haha['MXSPD'], text=haha.index, mode='markers', 
                         marker = dict(color=haha['index'])))
ply.iplot(traces, filename='WeatherData/test8')

#Select STATION

### Less years, more stations

In [350]:
useful_variables = ['PRCP', 'WDSP', 'MXSPD', 'TEMP']

In [351]:
all_indexed = df_subsetted.set_index('YEARMODA')[['STN'] + useful_variables][:'2014']
all_months = all_indexed[all_indexed.index.map(lambda x:True if x.month in [11,12,1,2] else False)]

In [352]:
all_shifted = all_months.shift(-6, 'M')

In [353]:
mean1997 = all_shifted['1997'].groupby('STN').mean()

In [373]:
mean2014 = all_shifted['2012'].groupby('STN').mean()

In [374]:
mean1997.shape

(94, 4)

In [375]:
mean2014.shape

(162, 4)

In [376]:
diff = mean1997 - mean2014
diff = diff.dropna()

In [384]:
diff.mean()

PRCP     0.035394
WDSP     1.282490
MXSPD    1.182859
TEMP     2.001815
dtype: float64

In [378]:
len(diff.index)

83

In [379]:
722950

722950

In [380]:
traces = []
traces.append(go.Scatter(y=diff['PRCP'], text=diff.index, mode='markers', ))
#                          marker = dict(color=haha['index'])))
ply.iplot(traces, filename='WeatherData/diff1')

In [381]:
traces = []
traces.append(go.Scatter(y=diff['WDSP'], text=diff.index, mode='markers', ))
#                          marker = dict(color=haha['index'])))
ply.iplot(traces, filename='WeatherData/diff2')

In [382]:
traces = []
traces.append(go.Scatter(y=diff['MXSPD'], text=diff.index, mode='markers', ))
#                          marker = dict(color=haha['index'])))
ply.iplot(traces, filename='WeatherData/diff3')

In [383]:
traces = []
traces.append(go.Scatter(y=diff['TEMP'], text=diff.index, mode='markers', ))
#                          marker = dict(color=haha['index'])))
ply.iplot(traces, filename='WeatherData/diff5')

In [396]:
diff[(diff['PRCP'] < 0) & (diff['WDSP'] < 0) & (diff['MXSPD'] < 0) & (diff['TEMP'] < 0)]

Empty DataFrame
Columns: [PRCP, WDSP, MXSPD, TEMP]
Index: []

In [397]:
diff[(diff['PRCP'] < 0) & (diff['WDSP'] < 0) & (diff['MXSPD'] < 0)]

            PRCP      WDSP     MXSPD      TEMP
STN
722810 -0.013917 -0.618333 -1.643889  3.641944

In [398]:
diff[(diff['WDSP'] < 0) & (diff['MXSPD'] < 0) & (diff['TEMP'] < 0)]

            PRCP      WDSP     MXSPD      TEMP
STN
724800  0.044804 -0.289793 -0.922955 -0.724325
725845  0.179311 -1.297555 -2.024187 -3.480785

In [307]:
all_years = all_shifted.groupby(all_shifted.index.year).apply(lambda x:x.mean()) # average over stations
hehe = pd.concat([all_years, oci.set_index('From')[['index']]], join='inner', axis=1)
traces = []
traces.append(go.Scatter(x=hehe['PRCP'], y=hehe['MXSPD'], text=hehe.index, mode='markers', 
                         marker = dict(color=hehe['index'])))
ply.iplot(traces, filename='WeatherData/hehe')

#PCA

In [484]:
all2 = all_shifted.copy()

In [485]:
all2['year'] = all2.index.year

In [486]:
all2.head()

               STN  PRCP  WDSP  MXSPD  TEMP  year
YEARMODA
1984-08-31  697534     0   8.4    9.9  71.2  1984
1984-08-31  697534     0   8.7    9.9  70.7  1984
1984-05-31  722810     0   2.8    9.9  67.2  1984
1984-05-31  722810     0   3.0    7.0  67.8  1984
1984-05-31  722810     0   1.9    8.0  68.1  1984

In [488]:
all2_years = all2.groupby(['STN', 'year']).mean()
all2_years = all2_years.reset_index()

In [500]:
all2_weeks = all2.groupby('STN').resample('W')
all2_weeks = all2_weeks.reset_index()

In [603]:
all2_max = all2_weeks.set_index('YEARMODA').groupby('STN')[['MXSPD', 'PRCP', 'WDSP']].resample('A', 'max').reset_index()

In [604]:
all2_years.head()

      STN  year      PRCP      WDSP     MXSPD       TEMP
0  690020  1989  0.031148  2.032787  4.824590  50.537705
1  690020  1990  0.013043  2.556522  5.895652  55.636232
2  690020  1991  0.061842  2.457895  5.342105  56.144737
3  690020  1992  0.209211  3.143590  6.937662  52.902564
4  690020  1993  0.089265  3.427941  6.886765  52.938235

In [605]:
all2_max.head()

      STN   YEARMODA     MXSPD      PRCP      WDSP
0  690020 1989-12-31  5.687500  0.057917  2.491667
1  690020 1990-12-31  6.642105  0.025714  2.884211
2  690020 1991-12-31  6.578947  0.225789  3.200000
3  690020 1992-12-31  8.984211  0.367895  4.336842
4  690020 1993-12-31  8.210526  0.186316  3.994737

la_max = all2_max[all2_max['STN'] == 722950]
all2_pivot = la_max.pivot(index='YEARMODA', columns='STN')

In [606]:
all2_pivot = all2_max.pivot(index='YEARMODA', columns='STN')

In [607]:
all2_notnull = all2_pivot.dropna(axis=1)

In [625]:
all2_notnull.head(20)

                MXSPD                                                         \
STN            722860     722868     722880     722886     722900     722904
YEARMODA
1981-12-31  12.277419  13.014286  10.357692  13.725806  12.819355   4.900000
1982-12-31  11.190323  12.153333  10.835484  13.540000  13.370968   8.600000
1983-12-31  11.717241  13.883333  11.239286  13.416667  12.189655  13.048276
1984-12-31  12.738710  12.780000  11.425000  13.306897  12.635484  12.603226
1985-12-31  10.909677  12.125000  11.628571  12.450000  12.639286  13.835484
1986-12-31  13.139286  14.039286  10.846667  12.067857  13.737037  14.064286
1987-12-31  10.658065  12.200000  12.277778  14.889655  13.045161  12.683871
1988-12-31   9.883333  14.982143  11.722581  14.754839  12.200000  13.221429
1989-12-31  12.332258  13.325000  13.160714  13.922581  12.303571  13.625000
1990-12-31  12.074194  15.489655   9.900000  15.580645  12.122581  12.540000
1991-12-31  12.419355  13.040000  13.058621  16.369565  13.750000  13.993103
1992-12-31  11.376667  13.551852  12.546429  16.283333  13.538710  13.783333
1993-12-31  13.728571  13.445161  11.560714  15.666667  12.778571  13.110714
1994-12-31  13.720000  15.093333  12.706667  16.816667  14.229032  13.170968
1995-12-31  11.517241  16.882759  13.251613  15.164516  12.031034  12.268966
1996-12-31  12.030000  15.525000  16.053571  13.832143  11.950000  11.412903
1997-12-31  13.987097  13.619355  16.577778  15.080645  15.089286  13.389286
1998-12-31  10.632258  11.887097  11.383871  14.790323  11.525806  10.538710
1999-12-31  12.596774  12.348276  11.117241  14.206452  13.200000  13.313793
2000-12-31  11.485714  13.071429  11.750000  12.396774  12.689286  11.632143

                                                          ...          WDSP  \
STN            722906     722907     722909     722925    ...        725940
YEARMODA                                                  ...
1981-12-31  11.877419  11.380645  12.208333  12.893548    ...      8.338095
1982-12-31  13.167742  11.500000  14.104348  13.839286    ...     11.500000
1983-12-31  11.480000  12.455172   9.470833  13.703333    ...      5.957143
1984-12-31  12.051613  10.294118  10.968000  14.093548    ...     10.900000
1985-12-31  12.625000  10.790323  11.800000  11.242857    ...      9.276471
1986-12-31  14.010714  11.628571  13.019231  10.416000    ...      8.430000
1987-12-31  13.719355  10.293548  11.540000  10.625000    ...      9.040909
1988-12-31  11.848387  11.359259  12.495652  12.051852    ...      7.458333
1989-12-31  13.239286  11.635714  11.273913  14.800000    ...      6.429630
1990-12-31  12.539286  11.339286  12.252000  17.166667    ...      6.021739
1991-12-31  13.634483  11.962069  12.829167  17.000000    ...      8.740909
1992-12-31  14.616129  11.692857  12.837500  11.160000    ...      6.883333
1993-12-31  12.393548  11.410714  13.782609  11.780952    ...      6.854545
1994-12-31  16.325806  11.220000  13.750000  14.566667    ...      7.604167
1995-12-31  13.165517  10.671429  11.750000  12.604762    ...      7.125000
1996-12-31  13.282143  11.435714  12.852174  16.563158    ...      7.547368
1997-12-31  16.867857  12.085714  14.978261  19.985714    ...     10.089474
1998-12-31  14.123333  10.400000  11.380000  16.186364    ...      8.388000
1999-12-31  13.500000  11.551724  11.728571  14.181818    ...      7.071429
2000-12-31  13.635714  11.150000  12.435000  13.855000    ...      6.416667

                                                                          \
STN           725945     725946    725957     745160    746120    747020
YEARMODA
1981-12-31  6.445161   9.764516  4.754839   5.280645  5.300000  4.170968
1982-12-31  8.235714  11.271429  4.670968   6.867857  4.213793  5.014286
1983-12-31  7.166667  10.153333  4.256667   5.110000  5.180000  4.956667
1984-12-31  6.683333  10.860714  5.064000   5.489286  4.689286  4.193333
1985-12-31  7.150000   9.307143  4.209677   6.217857  5.082143  4.803571
1986-12-31  6.828571   9.725000  4.280769   6.623333  4.853571  4.573333
1987-12-31  7.641935   9.722581  5.354839   7.341935  3.382759  5.790000
1988-12-31  5.966667   8.083333  4.180645   6.966667  4.565385  5.450000
1989-12-31  5.948387   8.558065  4.251613   5.596429  4.738462  8.460714
1990-12-31  5.474194   8.048387  4.282759   6.213333  4.163636  4.980000
1991-12-31  6.458621   8.293103  4.216667   6.375862  3.083333  5.123333
1992-12-31  7.158065   9.254839  3.977419   7.083871  4.695238  4.664516
1993-12-31  6.706452   8.635484  4.312903   8.874194  3.490476  3.885714
1994-12-31  8.729032  10.748387  3.741935  10.954839  4.218182  4.664516
1995-12-31  6.693103   9.858621  3.493548   7.768966  3.779167  3.706452
1996-12-31  7.858065  10.693548  4.428571   7.982143  8.859091  3.793548
1997-12-31  9.428571  13.132143  3.251613   8.564516  6.680952  7.660714
1998-12-31  8.017857  12.103571  3.816667   7.323333  7.422727  6.734615
1999-12-31  6.937931   9.462069  3.000000   8.127586  7.554545  7.073077
2000-12-31  6.778571   8.467857  3.289286   8.825000  7.345455  6.412000


STN           747185    747187    747188
YEARMODA
1981-12-31  5.064516  5.151613  6.200000
1982-12-31  5.089286  5.603226  6.570968
1983-12-31  5.406667  5.731034  7.196552
1984-12-31  5.006667  5.385714  6.578571
1985-12-31  6.878571  5.760714  6.303571
1986-12-31  6.685714  6.571429  8.582143
1987-12-31  5.366667  5.613793  7.300000
1988-12-31  6.882143  5.450000  8.414286
1989-12-31  6.364286  5.525000  7.892857
1990-12-31  6.233333  5.446667  8.273333
1991-12-31  6.131034  4.827586  6.766667
1992-12-31  6.678571  4.817857  6.236667
1993-12-31  6.217857  4.792857  5.532258
1994-12-31  7.056667  4.189286  6.993333
1995-12-31  6.158621  5.406897  6.672414
1996-12-31  6.551613  5.514286  8.025000
1997-12-31  6.982143  5.929032  7.600000
1998-12-31  5.909677  5.603226  7.629032
1999-12-31  6.827586  4.596552  7.335484
2000-12-31  6.746429  5.046429  6.185714

[20 rows x 161 columns]

In [608]:
len(all2_notnull.columns)

161

In [609]:
from sklearn.decomposition import PCA

In [626]:
pca = PCA(n_components=3)

In [627]:
projected = pca.fit_transform(all2_notnull)

In [628]:
all2_max.head()

      STN   YEARMODA     MXSPD      PRCP      WDSP
0  690020 1989-12-31  5.687500  0.057917  2.491667
1  690020 1990-12-31  6.642105  0.025714  2.884211
2  690020 1991-12-31  6.578947  0.225789  3.200000
3  690020 1992-12-31  8.984211  0.367895  4.336842
4  690020 1993-12-31  8.210526  0.186316  3.994737

In [629]:
oci_numbers = oci.set_index('From')['index'][all2_notnull.index.year]

In [630]:
oci_adjusted = oci_numbers.replace({-2:0, -1.5:0, -1:0, -0.5:0, 0.5:0})

In [631]:
trace0 = go.Scatter3d(
    x=projected[:,0],
    y=projected[:,1],
    z=projected[:,2],
    name='Projected',
    mode='markers+text',
    text=all2_notnull.index.year,
    marker=go.Marker(color=oci_adjusted, 
                     size=15,
                    )
)
layout = go.Layout(
    title="California transformed PCA"
)
figure = go.Figure(data=[trace0], layout=layout)
ply.iplot(figure, filename='WeatherData/sandiego_PCA2')

In [621]:
ply.image.save_as(figure, '../figures/California PCA projected max.png')

In [620]:
pca.explained_variance_ratio_

array([ 0.25400467,  0.20993609])

In [449]:
all_four = all2_years.groupby('year')[['PRCP', 'WDSP', 'MXSPD', 'TEMP']].mean()

In [456]:
pca2 = PCA(n_components=2)

In [457]:
projected2 = pca2.fit_transform(all_four)

In [458]:
trace0 = go.Scatter(
    x=projected2[:,0],
    y=projected2[:,1],
    name='Projected2',
    mode='markers+text',
    text=all2_notnull.index,
    marker=go.Marker(color=oci.set_index('From')['index'][all2_notnull.index], 
                     size=15,
                    )
)
layout = go.Layout(
    title="California transformed PCA"
)
figure = go.Figure(data=[trace0], layout=layout)
ply.iplot(figure, filename='WeatherData/sandiego_PCA22')

In [459]:
pca2.explained_variance_ratio_

array([ 0.81150467,  0.16876275])

---

In [481]:
all_months[all_months['STN'] == 690070]['1991-1-2':'1991-1-10'].shift(-6, 'M')

               STN  PRCP  WDSP  MXSPD  TEMP
YEARMODA
1990-07-31  690070  0.00   5.8    8.0  47.2
1990-07-31  690070  0.04   1.4    4.1  48.9
1990-07-31  690070  0.12   2.9    8.9  47.1
1990-07-31  690070  0.00   4.2    7.0  52.2
1990-07-31  690070  0.00   1.9    8.0  53.7
1990-07-31  690070  0.12   5.6   18.1  51.6
1990-07-31  690070  0.24   2.2    7.0  49.4

In [479]:
stn_year = all_shifted.groupby('STN').resample('A').reset_index()

In [480]:
stn_year

         STN   YEARMODA      MXSPD      PRCP       TEMP      WDSP
0     690020 1989-12-31   4.824590  0.031148  50.537705  2.032787
1     690020 1990-12-31   5.895652  0.013043  55.636232  2.556522
2     690020 1991-12-31   5.342105  0.061842  56.144737  2.457895
3     690020 1992-12-31   6.937662  0.209211  52.902564  3.143590
4     690020 1993-12-31   6.886765  0.089265  52.938235  3.427941
5     690020 1994-12-31   7.539759  0.108313  52.168675  3.813253
6     690020 1995-12-31   8.098630  0.066301  56.546575  3.747945
7     690020 1996-12-31   7.644681  0.289787  52.355319  4.144681
8     690070 1990-12-31   9.363636  0.046818  51.456818  3.472727
9     690070 1991-12-31   9.456818  0.182273  51.554545  4.129545
10    690070 1992-12-31  13.162667  0.206267  51.212000  5.921333
11    690140 1988-12-31  10.220339  0.000000  53.069492  4.055932
12    690140 1989-12-31   9.947107  0.050252  57.876033  4.033058
13    690140 1990-12-31   9.875833  0.043833  58.815833  4.151667
14    690140 1991-12-31   9.728099  0.058595  60.457025  3.607438
15    690140 1992-12-31  10.174167  0.230083  58.304167  4.129167
16    690140 1993-12-31   7.715702  0.056116  60.256198  3.102479
17    690140 1994-12-31   7.322500  0.146083  56.559167  2.829167
18    690140 1995-12-31   6.478512  0.062645  58.158678  2.976860
19    690140 1996-12-31   6.775000  0.120169  57.684167  2.969167
20    690140 1997-12-31  10.099174  0.180165  57.630579  3.828926
21    690140 1998-12-31   6.372727  0.011684  57.768687  2.697980
22    690150 1989-12-31  13.413750  0.006500  49.997500  5.522500
23    690150 1990-12-31  11.381579  0.000759  58.413924  5.558228
24    690150 1991-12-31  10.073077  0.027087  55.096154  4.242308
25    690150 1992-12-31  11.402062  0.026667  52.196907  5.001031
26    690150 1993-12-31  11.764151  0.007170  52.463208  4.909434
27    690150 1994-12-31  11.077778  0.007191  55.678889  5.378889
28    690150 1995-12-31  12.534234  0.005315  56.734234  4.834234
29    690150 1996-12-31  14.704630  0.006168  54.109259  6.307407
...      ...        ...        ...       ...        ...       ...
4245  999999 1985-12-31   8.334298  0.000000  58.175620  3.190909
4246  999999 1986-12-31   8.396667  0.000000  57.034583  3.242083
4247  999999 1987-12-31   9.142975  0.000000  55.278512  3.575207
4248  999999 1988-12-31   8.753279  0.000000  55.949180  3.389344
4249  999999 1989-12-31        NaN       NaN        NaN       NaN
4250  999999 1990-12-31        NaN       NaN        NaN       NaN
4251  999999 1991-12-31        NaN       NaN        NaN       NaN
4252  999999 1992-12-31        NaN       NaN        NaN       NaN
4253  999999 1993-12-31        NaN       NaN        NaN       NaN
4254  999999 1994-12-31        NaN       NaN        NaN       NaN
4255  999999 1995-12-31        NaN       NaN        NaN       NaN
4256  999999 1996-12-31        NaN       NaN        NaN       NaN
4257  999999 1997-12-31        NaN       NaN        NaN       NaN
4258  999999 1998-12-31        NaN       NaN        NaN       NaN
4259  999999 1999-12-31   6.042623  0.000000  58.575410  1.331148
4260  999999 2000-12-31        NaN       NaN        NaN       NaN
4261  999999 2001-12-31        NaN       NaN        NaN       NaN
4262  999999 2002-12-31        NaN       NaN        NaN       NaN
4263  999999 2003-12-31   3.673504  0.351111  43.326496  2.214530
4264  999999 2004-12-31   6.962679  0.120933  50.195215  3.442344
4265  999999 2005-12-31   9.558607  0.066751  53.096258  4.368163
4266  999999 2006-12-31        NaN  0.068250  49.387778       NaN
4267  999999 2007-12-31        NaN  0.125599  46.478926       NaN
4268  999999 2008-12-31        NaN  0.110499  50.505116       NaN
4269  999999 2009-12-31        NaN  0.138477  49.476387       NaN
4270  999999 2010-12-31        NaN  0.129249  49.208701       NaN
4271  999999 2011-12-31        NaN  0.055171  49.226564       NaN
4272  999999 2012-12-31        NaN  0.110357  49.262143       NaN
4273  999999 2013-12-31        NaN  0.046976  51.651190       NaN
4274  999999 2014-12-31   9.595082  0.137827  54.387044  3.418852

[4275 rows x 6 columns]