In [1]:
import pandas as pd

In [7]:
def preprocess(filename):
    """Preprocess NCDC weather data"""
    
    fields = ['STN', 'WBAN', 'YEARMODA', 'TEMP', 'TEMP_count', 'DEWP', 'DEWP_count', 'SLP', 'SLP_count', 'STP', 'STP_count', 'VISIB', 'VISIB_count', 'WDSP', 'WDSP_count', 'MXSPD', 'GUST', 'MAX', 'MIN', 'PRCP', 'SNDP', 'FRSHTT']
    
    df = pd.read_csv(filename, 
                  sep=r'\s+', 
                  names=fields, 
                  header=0, 
                  parse_dates=['YEARMODA'], 
                  na_values={'TEMP':[9999.9], 
                             'DEWP':[9999.9], 
                             'SLP':[9999.9], 
                             'STP':[9999.9], 
                             'VISIB':[999.9], 
                             'WDSP':[999.9], 
                             'MXSPD':[999.9], 
                             'GUST':[999.9], 
                             'MAX':['9999.9'], # doesn't matter whether float or str
                             'MIN':['9999.9'], 
                             'PRCP':['99.99'],
                             'SNDP':[999.9]}
                 )
    
    flagged = df.copy()

    def strip_flag(x):
        if type(x) is float:
            return x
        elif type(x) is str:
            return float(x[:-1]) if '*' in x else float(x)
    def extract_flag(x):
        if type(x) is float:
            return False
        elif type(x) is str:
            return True if '*' in x else False
    
    flagged['MAX'] = df['MAX'].map(strip_flag)
    flagged['MAX_flag'] = df['MAX'].map(extract_flag)
    flagged['MIN'] = df['MIN'].map(strip_flag)
    flagged['MIN_flag'] = df['MIN'].map(extract_flag)
    
    flagged['PRCP'] = df['PRCP'].map(lambda x: float(x[:-1]) if type(x) is str else x)
    PRCP_flag = df['PRCP'].map(lambda x: x[-1] if type(x) is str else x)
    PRCP_dummies = pd.get_dummies(PRCP_flag).add_prefix('PRCP_')
    preprocessed = flagged.join(PRCP_dummies)
    
    return preprocessed

In [20]:
dfs = []
dfs.append(preprocess('../data/raw/CA/CA_1981-1985.txt'))
dfs.append(preprocess('../data/raw/CA/CA_1985-1989.txt'))
dfs.append(preprocess('../data/raw/CA/CA_1989-1993.txt'))
dfs.append(preprocess('../data/raw/CA/CA_1993-1997.txt'))
dfs.append(preprocess('../data/raw/CA/CA_1997-2001.txt'))
dfs.append(preprocess('../data/raw/CA/CA_2001-2005.txt'))
dfs.append(preprocess('../data/raw/CA/CA_2005-2009.txt'))
dfs.append(preprocess('../data/raw/CA/CA_2009-2015.txt'))

In [21]:
df = pd.concat(dfs)

In [40]:
df_processed = df[['STN','YEARMODA', 'TEMP', 'PRCP', 'GUST']]
df_processed = df_processed.set_index(['YEARMODA', 'STN'])
df_processed.head()

                   TEMP  PRCP  GUST
YEARMODA   STN
1985-04-24 691414  54.1     0  15.0
1985-04-25 691414  42.9   NaN  25.1
1985-04-26 691414  43.0   NaN  20.0
1985-04-27 691414  42.4   NaN  53.0
1985-04-28 691414  40.5   NaN  40.0

In [130]:
df_processed.to_csv('../data/preprocessed/CA_1981-2015.csv')

In [ ]:
df_precessed = pd.read_csv('../data/preprocessed/CA_1981-2015.csv', parse_dates=['YEARMODA'])

In [85]:
from sklearn import preprocessing

In [91]:
test.fillna(0)

                   TEMP  PRCP  GUST
YEARMODA   STN
1985-04-24 691414  54.1  0.00  15.0
1985-04-25 691414  42.9  0.00  25.1
1985-04-26 691414  43.0  0.00  20.0
1985-04-27 691414  42.4  0.00  53.0
1985-04-28 691414  40.5  0.00  40.0
1985-04-29 691414  43.3  0.00  12.0
1985-04-30 691414  52.7  0.16  17.1
1985-05-01 691414  49.2  0.00  35.0
1985-05-02 691414  46.0  0.00  31.1
1985-05-03 691414  44.7  0.00   0.0
1985-05-04 691414  43.0  0.01   0.0
1985-05-05 691414  47.3  0.00  17.1
1985-05-06 691414  53.8  0.00   0.0
1985-05-07 691414  50.6  0.00  21.0
1985-05-08 691414  47.4  0.00  22.0
1985-05-09 691414  48.6  0.00   0.0
1985-05-10 691414  47.5  0.00   0.0
1985-05-11 691414  45.0  0.00   0.0
1985-05-12 691414  47.1  0.00  22.9
1985-05-13 691414  55.8  0.00  22.0
1985-05-14 691414  47.5  0.08  15.0
1985-05-15 691414  53.4  0.00   0.0
1985-05-16 691414  56.4  0.00   0.0
1985-05-17 691414  55.6  0.00   0.0
1985-05-18 691414  57.1  0.00   0.0
1985-05-19 691414  51.3  0.00   0.0
1985-05-20 691414  55.7  0.00   0.0
1985-05-21 691414  51.6  0.00   0.0
1985-05-22 691414  46.8  0.00   0.0
1985-05-23 691414  44.6  0.12   0.0
...                 ...   ...   ...
1984-05-11 722810  81.7  0.00  20.0
1984-05-12 722810  82.2  0.00   0.0
1984-05-13 722810  83.7  0.00   0.0
1984-05-14 722810  86.3  0.00   0.0
1984-05-15 722810  78.5  0.00  35.0
1984-05-16 722810  75.4  0.00  29.9
1984-05-17 722810  76.4  0.00   0.0
1984-05-18 722810  78.0  0.00   0.0
1984-05-19 722810  82.3  0.00   0.0
1984-05-20 722810  83.7  0.00   0.0
1984-05-21 722810  83.5  0.00   0.0
1984-05-22 722810  86.1  0.00   0.0
1984-05-23 722810  84.3  0.00   0.0
1984-05-24 722810  87.8  0.00   0.0
1984-05-25 722810  88.7  0.00  25.1
1984-05-26 722810  86.9  0.00   0.0
1984-05-27 722810  88.5  0.00   0.0
1984-05-28 722810  93.4  0.00   0.0
1984-05-29 722810  93.8  0.00   0.0
1984-05-30 722810  90.2  0.00   0.0
1984-05-31 722810  89.3  0.00  24.1
1984-06-01 722810  89.2  0.00  29.9
1984-06-02 722810  87.5  0.00   0.0
1984-06-03 722810  83.2  0.00  25.1
1984-06-04 722810  79.1  0.00   0.0
1984-06-05 722810  78.8  0.00   0.0
1984-06-06 722810  76.4  0.00   0.0
1984-06-07 722810  76.7  0.00  29.9
1984-06-08 722810  77.7  0.00   0.0
1984-06-09 722810  82.4  0.00   0.0

[100 rows x 3 columns]

In [119]:
test.dropna()

                   TEMP  PRCP  GUST
YEARMODA   STN
1985-04-24 691414  54.1  0.00  15.0
1985-04-30 691414  52.7  0.16  17.1
1985-05-01 691414  49.2  0.00  35.0
1985-05-05 691414  47.3  0.00  17.1
1985-05-14 691414  47.5  0.08  15.0
1985-05-24 691414  59.4  0.00  29.9
1985-02-18 697534  71.2  0.00  18.1
1985-02-20 697534  70.7  0.00  29.9
1984-04-17 722810  78.9  0.00  22.9
1984-04-19 722810  69.5  0.00  47.0
1984-04-20 722810  64.5  0.00  40.0
1984-04-21 722810  69.5  0.00  22.0
1984-04-25 722810  71.4  0.00  40.0
1984-04-26 722810  63.2  0.00  40.0
1984-04-28 722810  62.0  0.00  20.0
1984-05-11 722810  81.7  0.00  20.0
1984-05-15 722810  78.5  0.00  35.0
1984-05-16 722810  75.4  0.00  29.9
1984-05-25 722810  88.7  0.00  25.1
1984-05-31 722810  89.3  0.00  24.1
1984-06-01 722810  89.2  0.00  29.9
1984-06-03 722810  83.2  0.00  25.1
1984-06-07 722810  76.7  0.00  29.9

In [120]:
def scale(df):
    df = df.dropna(axis=0)
    return pd.DataFrame(preprocessing.scale(df), index=df.reset_index('STN').index, columns=['TEMP', 'PRCP', 'GUST'])

In [122]:
normalized = df_processed.groupby(level=1).apply(scale)

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/numpy/core/_methods.py:59: RuntimeWarning: Mean of empty slice.
  warnings.warn("Mean of empty slice.", RuntimeWarning)
/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/numpy/core/_methods.py:83: RuntimeWarning: Degrees of freedom <= 0 for slice
  warnings.warn("Degrees of freedom <= 0 for slice", RuntimeWarning)

In [123]:
normalized

                       TEMP      PRCP      GUST
STN    YEARMODA
690020 1989-12-06  0.057914 -0.235327 -0.824620
       1990-01-12 -0.235794  0.800060 -0.361424
       1990-02-16 -1.474877  0.119663  4.051132
       1990-02-17 -1.603374  2.663756 -0.580833
       1990-03-15 -0.667178 -0.235327 -1.312196
       1990-04-11  0.103806 -0.235327 -0.068879
       1990-04-16 -0.602930 -0.235327 -1.531604
       1990-04-23 -0.015513 -0.235327  0.174909
       1990-04-25  0.369980 -0.235327  0.174909
       1990-04-28  1.012467 -0.235327 -1.068408
       1990-04-30 -0.547859 -0.235327 -1.068408
       1990-05-01  0.755472 -0.235327  3.051603
       1990-05-02  0.810542 -0.235327  0.881893
       1990-05-04  1.810987 -0.235327 -0.824620
       1990-05-08 -0.144010 -0.235327 -1.312196
       1990-05-09 -0.667178 -0.235327  0.174909
       1990-05-10 -0.345935 -0.235327 -0.361424
       1990-05-22  0.269017 -0.235327 -0.361424
       1990-05-30 -0.199081 -0.235327 -0.068879
       1990-06-05  1.379602 -0.235327 -0.068879
       1990-06-06  1.040002 -0.235327 -0.361424
       1990-06-07  1.177678 -0.235327 -1.824150
       1990-06-08  1.838522 -0.235327 -0.824620
       1990-06-12  0.883969 -0.235327 -0.361424
       1990-06-14 -0.144010 -0.235327  0.174909
       1990-08-16  0.810542 -0.235327 -1.824150
       1990-08-23  1.453030 -0.235327 -0.361424
       1990-08-28  0.819721 -0.235327 -1.312196
       1990-09-05  0.746294 -0.235327 -0.361424
       1990-09-10  2.435117 -0.235327 -1.068408
...                     ...       ...       ...
999999 2015-10-21  0.244841 -0.135594 -0.640864
       2015-10-22  0.086093 -0.135594 -1.313834
       2015-10-25  0.361256 -0.135594 -0.011312
       2015-10-26  0.213091 -0.135594 -0.423777
       2015-10-27  0.160175 -0.135594 -0.011312
       2015-10-29  0.075510 -0.135594  1.095832
       2015-10-30  0.191925 -0.135594  0.205775
       2015-10-31  0.117843 -0.135594 -0.901369
       2015-11-01  0.244841 -0.135594  0.205775
       2014-11-16  0.170759 -0.135594  2.137850
       2014-11-23  0.551753 -0.135594  3.440372
       2015-01-21  0.139009 -0.135594  3.244993
       2015-01-24  0.615252 -0.135594  2.810819
       2015-03-12  1.112662 -0.135594  2.137850
       2015-03-13  1.715903 -0.135594  3.244993
       2015-03-14  1.800569 -0.135594 -0.011312
       2015-03-25  1.197327 -0.135594  1.095832
       2015-03-26  1.641821 -0.135594  1.095832
       2015-04-02  0.625836 -0.135594 -0.011312
       2015-04-03  1.070329 -0.135594  0.205775
       2015-04-16  1.165578 -0.135594  0.618240
       2015-04-27  1.430157 -0.135594  2.137850
       2015-04-29  2.223896 -0.135594  0.205775
       2015-04-30  2.308562 -0.135594 -0.011312
       2015-05-21  0.075510 -0.135594  0.205775
       2015-07-09  1.176161 -0.135594  0.205775
       2015-07-13  2.128647 -0.135594 -1.096747
       2015-08-05  2.954136 -0.135594 -1.313834
       2015-09-14  1.980483 -0.135594  0.422862
       2015-10-30  1.313742 -0.135594  1.095832

[375714 rows x 3 columns]

In [41]:
test = df_processed.iloc[:100, :]

In [127]:
df_monthly = normalized.groupby(level=0).apply(lambda x: x.reset_index('STN', drop=True).resample('M'))

In [82]:
df[df['STN'] == 690070][['YEARMODA']]

         YEARMODA
267967 1991-01-02
267968 1991-01-03
267969 1991-01-04
267970 1991-01-07
267971 1991-01-08
267972 1991-01-09
267973 1991-01-10
267974 1991-01-11
267975 1991-01-12
267976 1991-01-14
267977 1991-01-15
267978 1991-01-16
267979 1991-01-17
267980 1991-01-18
267981 1991-01-22
267982 1991-01-23
267983 1991-01-24
267984 1991-01-25
267985 1991-01-26
267986 1991-01-28
267987 1991-01-29
267988 1991-01-30
267989 1991-01-31
267990 1991-02-01
267991 1991-02-04
267992 1991-02-05
267993 1991-02-06
267994 1991-02-07
267995 1991-02-08
267996 1991-02-09
...           ...
268532 1993-07-21
268533 1993-07-22
268534 1993-07-23
268535 1993-07-26
268536 1993-07-27
268537 1993-07-28
268538 1993-07-29
268539 1993-07-30
268540 1993-08-02
268541 1993-08-03
268542 1993-08-04
268543 1993-08-05
268544 1993-08-06
268545 1993-08-09
268546 1993-08-10
268547 1993-08-11
268548 1993-08-12
268549 1993-08-13
268550 1993-08-16
268551 1993-08-17
268552 1993-08-18
268553 1993-08-19
268554 1993-08-20
268555 1993-08-23
268556 1993-08-24
268557 1993-08-25
268558 1993-08-26
268559 1993-08-27
268560 1993-08-30
268561 1993-08-31

[595 rows x 1 columns]

In [81]:
df_monthly.xs(999999, level='STN')

                 TEMP      PRCP       GUST
YEARMODA
1981-11-30  60.681667  0.000000        NaN
1981-12-31  56.496774  0.000000        NaN
1982-01-31  52.891935  0.000000        NaN
1982-02-28  57.164286  0.000000        NaN
1982-03-31  56.332258  0.000000        NaN
1982-04-30  59.583333  0.000000        NaN
1982-05-31  61.919355  0.000000        NaN
1982-06-30  63.096667  0.000000        NaN
1982-07-31  70.280645  0.000000        NaN
1982-08-31  72.041935  0.000000        NaN
1982-09-30  70.873333  0.000000        NaN
1982-10-31  67.598387  0.000000        NaN
1982-11-30  58.826667  0.000000        NaN
1982-12-31  54.058065  0.000000        NaN
1983-01-31  57.358065  0.000000        NaN
1983-02-28  56.308929  0.000000        NaN
1983-03-31  57.353226  0.000000        NaN
1983-04-30  57.910000  0.000000        NaN
1983-05-31  62.820968  0.000000        NaN
1983-06-30  65.056667  0.000000        NaN
1983-07-31  70.569355  0.000000        NaN
1983-08-31  75.419355  0.000000        NaN
1983-09-30  74.060000  0.000000        NaN
1983-10-31  69.217742  0.000000        NaN
1983-11-30  60.231667  0.000000        NaN
1983-12-31  56.020968  0.000000        NaN
1984-01-31  57.870968  0.000000        NaN
1984-02-29  56.770690  0.000000        NaN
1984-03-31  59.816129  0.000000        NaN
1984-04-30  61.086667  0.000000        NaN
...               ...       ...        ...
2013-06-30  70.105288  0.013269        NaN
2013-07-31  73.593897  0.006667        NaN
2013-08-31  72.032719  0.002811        NaN
2013-09-30  69.010000  0.010571        NaN
2013-10-31  59.742857  0.012903        NaN
2013-11-30  54.400000  0.032333        NaN
2013-12-31  47.600000  0.015484        NaN
2014-01-31  52.604608  0.013733        NaN
2014-02-28  52.135714  0.134337        NaN
2014-03-31  56.064516  0.105207        NaN
2014-04-30  58.979904  0.046124        NaN
2014-05-31  65.578802  0.006728        NaN
2014-06-30  70.185714  0.003762        NaN
2014-07-31  75.611574  0.006204        NaN
2014-08-31  73.599281  0.008346  18.400000
2014-09-30  72.246992  0.026016  17.657143
2014-10-31  66.589606  0.032536  18.667857
2014-11-30  57.137407  0.063946  18.687500
2014-12-31  51.715827  0.212278  23.514286
2015-01-31  52.226568  0.031301  18.709091
2015-02-28  56.712400  0.103580  19.117647
2015-03-31  60.092000  0.020534  20.082609
2015-04-30  59.472075  0.031274  21.012121
2015-05-31  61.596715  0.018439  17.992593
2015-06-30  72.252045  0.005393  20.600000
2015-07-31  73.704301  0.012628  18.990323
2015-08-31  75.487097  0.000293  18.448387
2015-09-30  72.852593  0.010448  19.141935
2015-10-31  66.957143  0.020300  19.318519
2015-11-30  65.333333  0.000000  21.000000

[409 rows x 3 columns]

In [128]:
def extract_novembers(df):
    x = df.reset_index('STN', drop=True)
    return x[x.index.month == 11]
df_novembers = df_monthly.groupby(level=0).apply(extract_novembers)

In [129]:
df_novembers

                       TEMP      PRCP      GUST
STN    YEARMODA
690020 1990-11-30 -0.411713 -0.235327 -0.771800
       1991-11-30 -0.474432 -0.235327 -0.446749
       1992-11-30  0.599439 -0.235327 -0.824620
       1993-11-30 -0.658000  0.178828  0.235856
       1994-11-30 -1.301507 -0.090701  0.223667
       1995-11-30  0.122163 -0.235327 -0.227341
       1996-11-30       NaN       NaN       NaN
690070 1991-11-30       NaN       NaN       NaN
       1992-11-30 -1.621917 -0.153038  0.040836
690140 1989-11-30 -0.360621 -0.321671  1.093465
       1990-11-30  0.487375 -0.313953  0.677507
       1991-11-30  0.028044 -0.321671  0.457558
       1992-11-30  0.504335 -0.321671  0.792718
       1993-11-30  0.459108 -0.306235  0.177758
       1994-11-30 -0.940085 -0.070825 -0.278100
       1995-11-30 -0.148622 -0.321671  0.195713
       1996-11-30 -0.155689 -0.321671  0.083494
       1997-11-30 -0.042623 -0.302375  0.801696
       1998-11-30       NaN       NaN       NaN
690150 1990-11-30 -0.798235 -0.079386  0.028145
       1991-11-30 -0.932591 -0.079386  0.661692
       1992-11-30 -0.825899 -0.079386 -0.362270
       1993-11-30 -0.944902  0.070818 -0.119138
       1994-11-30 -1.056296 -0.079386  0.994597
       1995-11-30 -0.567099 -0.079386 -0.318319
       1996-11-30 -0.974222  0.274534 -0.008676
       1997-11-30 -1.025895  0.185618  0.516080
       1998-11-30 -1.045771 -0.025146 -0.292136
       1999-11-30 -0.878524 -0.079386 -0.420716
       2000-11-30 -1.320520 -0.079386  0.040418
...                     ...       ...       ...
994120 1993-11-30       NaN       NaN       NaN
       1994-11-30       NaN       NaN       NaN
       1995-11-30       NaN       NaN       NaN
       1996-11-30       NaN       NaN       NaN
       1997-11-30       NaN       NaN       NaN
       1998-11-30       NaN       NaN       NaN
       1999-11-30       NaN       NaN       NaN
       2000-11-30       NaN       NaN       NaN
       2001-11-30       NaN       NaN       NaN
       2002-11-30  0.814981 -0.119774  0.089989
       2003-11-30  0.284591 -0.119774  0.370824
       2004-11-30  0.035145 -0.119774  0.009605
       2005-11-30  0.434647 -0.119774  0.057141
       2006-11-30  0.666677 -0.119774  0.032526
       2007-11-30 -0.134542 -0.119774 -0.338075
       2008-11-30  0.664828 -0.119774 -0.182649
       2009-11-30 -0.145428 -0.119774 -0.003419
       2010-11-30 -0.212167 -0.119774  0.117050
       2011-11-30  0.115268 -0.119774  0.457502
999999 2005-11-30 -0.505389 -0.129785  0.607386
       2006-11-30       NaN       NaN       NaN
       2007-11-30       NaN       NaN       NaN
       2008-11-30       NaN       NaN       NaN
       2009-11-30       NaN       NaN       NaN
       2010-11-30       NaN       NaN       NaN
       2011-11-30       NaN       NaN       NaN
       2012-11-30       NaN       NaN       NaN
       2013-11-30       NaN       NaN       NaN
       2014-11-30 -0.386080 -0.135594 -0.230069
       2015-11-30  0.244841 -0.135594  0.205775

[3817 rows x 3 columns]